.newsletter {
    height: 60vh;
    background-color: #fcf5f5;
}

.input-container {
    width: 50%;
    height: 40px;
}

.br-none {
    border: none;
}

.flex-1 {
    flex: 1;
}

.flex-8 {
    flex: 8;
}

.bg-teal {
    background-color: teal;
}