.newsletter {
    height: 60vh;
    background-color: #fcf5f5;
}

.input-container {
    width: 50%;
    height: 40px;
}

input {
    border: none;
    flex: 8;
}

button {
    flex: 1;
    border: none;
    background-color: teal;
}