.flex-1 {
    flex: 1;
}

.circle-40 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bg-facebook {
    background-color: #3B5999;
}

.bg-instagram {
    background-color: #E4405F;
}

.bg-twitter {
    background-color: #55ACEE;
}

.bg-pintrest {
    background-color: #E60023;
}