.slider-arrow {
    background-color: #fff7f7;
    border-radius: 50%;
    margin: auto;
}

.slide {
    width: 100vw;
}

.flex-1 {
    flex: 1;
}

img {
    max-height: 80%;
}

.wrapper {
    transform: translateX(0vw);
    transition: all 1.5s ease;
}